<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header">

<link rel="stylesheet" th:hred="@{/css/formatting.css}">
</head>

	<nav th:replace="layout :: navbar"></nav>

<body>



	

	<div class="Container">

	<h3> Main Dashboard </h3>
	<a th:text="${versionNumber}"></a>
	<hr>
	
	<div class="row">
			<div class="col-md-6">
			
			<div class="container">
						<h4>Current Projects</h4>
		
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="aProject: ${projectsList}">
					<td th:text="${aProject.name}"/>
					<td th:text="${aProject.stage}"/>
				</tr>
			</tbody>
		
		</table>
	
			</div>
		</div>
		
		<div class="col-md-6">
			<canvas id="myPieChart" height="25" width="25"></canvas>	
			
			<script>
				var chartData = "[[${projectStatusCnt}]]"
			</script>		
	
		</div>
	</div>
	


	
	<div class="row">
		<div class="col-md-6">
	<div class="container">
	<h4>Current Employees</h4>
		<table class="table table-bordered table-striped">
			
		<thead class="thead-dark">
			<tr>
				<th>Employee First Name</th>
				<th>Employee Last Name</th>
				<th>Employee Project Count</th>
			</tr>
			
		</thead>
		<tbody>
			<tr th:each="anEmployeeProjectCnt: ${employeesListProjectsCnt}">
				<td th:text="${anEmployeeProjectCnt.firstName}"/>
				<td th:text="${anEmployeeProjectCnt.lastName}"/>
				<td th:text="${anEmployeeProjectCnt.projectCount}"/>
			</tr>
		</tbody>
	
	</table>
		</div>
	</div>
	</div>
	
	
	
</div>

	

	<script type="text/javascript" th:src="@{javascript/myChart.js}"></script>




</body>