<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="layout :: header"></head>
	
	<body>
	
	<nav th:replace="layout :: navbar"></nav>
	
		<div class="container">
			<h3>Employee Directory</h3>
			<hr>
			
			<!--  Add New Employee Button -->
			<a th:href="@{/employees/new}"
				class="btn btn-primary btn-sm mb-3"> 
				Add Employee 
			</a> 
			<br></br>
			
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</tr>
				</thead>		
				<tbody>
					<tr th:each="aEmployee : ${employees}">
						<td th:text="${aEmployee.firstName}"/>
						<td th:text="${aEmployee.lastName}"/>
						<td th:text="${aEmployee.email}"/>
					</tr>
				</tbody>
			
			</table>
		</div>
	</body>
	
</html>
