<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header">


</head>

<body>

	<nav th:replace="layout :: navbar"></nav>

	
	<div class="container">
		<form action="/employees/save" th:object="${employee}" method="POST">
								
			<input type="text" placeholder="First Name" th:field="${employee.firstName}">
			<input type="text" placeholder="Last Name" th:field="${employee.lastName}">
			<input type="text" placeholder="Email" th:field="${employee.email}">
					
			<button type="submit">Create Employee</button>
			
			</form>
	</div>	
	
	
<!--<div>

<h4>Current Employees</h4>
	
	<table>
		<thead>
			<tr>
				<th>Employee First Name</th>
				<th>Employee Last Name</th>
				<th>Employee Email</th>
			</tr>
			
		</thead>
		<tbody>
			<tr th:each="anEmployee: ${employeesList}">
				<td th:text="${anEmployee.firstName}"/>
				<td th:text="${anEmployee.lastName}"/>
				<td th:text="${anEmployee.email}"/>
			</tr>
		</tbody>
	
	</table>
</div>
	-->
</body>

</html>