<!DOCTYPE html>


	
	<body>
	
	

<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout :: header"></head>
	
	<body>
	
	<nav th:replace="layout :: navbar"></nav>

		<div class="container">
			<h3>Projects Directory</h3>
			<hr>
			
			<!--  Add New Project Button -->
			<a th:href="@{/projects/new}"
				class="btn btn-primary btn-sm mb-3"> 
				New Project 
			</a>
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Project Name</th>
						<th>Project Stage</th>
					</tr>
				</thead>		
				<tbody>
					<tr th:each="aProject : ${projects}">
						<td th:text="${aProject.name}"/>
						<td th:text="${aProject.stage}"/>
					</tr>
				</tbody>
			
			</table>
		</div>
	</body>
	
</html>